body, html {
  height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../imgs/background-img.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    opacity:0.5;
}

.title {
  margin-top: 8%;
  text-align: center;
}

.title_text {
  font-size: 100pt;
  color: #FAFAFA;
  margin-bottom: 6%;
}
