body, html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.bg {
    /* The image used */
    background-image: url("../imgs/background-img.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-overlay {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.6;
  padding-top: 15%;
}

.title-text {
  text-align: center;
  color: #FAFAFA;
  font-family: Roboto-Thin;
}

.image-content {
  width: 100%;
}

.section {
  margin-top: 5rem; 
  margin-bottom: 5rem;
}
